html {
    height: 100%;
    scroll-behavior: smooth;
  }

body {
    min-height: 100%;
    background-color: #f5f5f5;
    cursor: url('/Users/sandra/Desktop/typography/capstone/assets/cursor.png'), auto;

}

:root {
    --base: 16px;
    --heading: calc(var(--base) * 2);
    --page-spacing:15px;


    font-family: "roboto slab";
    font-size: var(--base);
    margin-top:0

}


#parentContainer {
  width: 100vw;
  background-color: #e2e2e2;
  position: relative;
  padding-bottom:8px;

  display:flex;
  justify-content: center;

}



a{
  color:black;

}


.dropdown{
  position: absolute;
  margin: calc(var(--base));
  margin-top:calc(var(--base) * 1.5);

  
}

.dropbtn {
    display:flex;
    justify-content: space-between;

    color: rgb(0, 0, 0,60%);
    padding: 10px;
    min-width:70vw;


    font-size: 20px;
    font-family: "roboto slab";
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #7e7e7e;
    color: rgb(255, 255, 255);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width:70vw;
    overflow: auto;
    
    z-index: 1;
  }
  

  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {
    display: flex;
    flex-direction: column;
    }

  input.choice{
    display: flex;
    flex-direction: column;

    border:white 2px;
    border-radius: 8px;
    border-style: solid;
    background-color: #cecece;
    min-width:69vw;
    text-decoration: none;
    color:rgb(0, 0, 0,60%);
   
    padding-top:8px;
    padding-bottom:8px;
    align-items: flex-start;
    font-size: 18px;

    margin-top:-1px;
  }

  input.choice:hover{
    background-color: #7e7e7e;
    color: rgb(0, 0, 0);
  }

  .down{
    padding-top:1px;
    opacity:50%;
  }

  hr{
    display: block;
    border-style: solid;
    border-width:2px;
    color:#D9D9D9;
    filter:blur(0.5px);
    margin:0;
  }






  section{
    display:flex;
    flex-direction: column;

    margin-left: calc(var(--base) );
    margin-right: calc(var(--base));
    margin-top: calc(var(--base) * 2);

  }


  .bucket{
    position: fixed;

    display:block;
    width:75vw;
    height:auto;

    margin-right: -30vw;
    margin-bottom:-20vh;

    right:0;
    bottom:0;

  
 
  }


  #bucketpic{
    animation-name:shakebucket;
    animation-duration:1s;

    animation-play-state: paused;
    animation-iteration-count: 100;
  }

  @keyframes shakebucket{
    0% {transform: rotate(0deg);}
    25% {transform: rotate(-5deg);}
    50% {transform: rotate(5deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
  }

  #bucketpic.animate{
    animation-play-state: running;
  }



  #washerpic{
    animation-name:rotatewash;
    animation-duration:1s;

    animation-play-state: paused;
    animation-iteration-count: 100;
  }

  @keyframes rotatewash{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(720deg);}
  }

  #washerpic.animate{
    animation-play-state: running;
  }




  #dryerpic{
    animation-name:rotatedry;
    animation-duration:1s;

    animation-play-state: paused;
    animation-iteration-count: 100;
  }

  @keyframes rotatedry{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(720deg);}
  }

  #dryerpic.animate{
    animation-play-state: running;
  }




.icon{
padding:15px;
width:70px;
}

.icon2{
 padding-left:20px;
 padding-right:10px;
 width:35px;
}

.icon3{
  padding-left:10px;
  padding-right:10px;
  width:60px;
 }




  .rdbutton{
    display:block;
    position:fixed;
    bottom:0;
    left:0;

    border-radius: 100%;
    width:100px;
    height:100px;
    background-color:#cecece;

    margin-left:calc(var(--base) * 1);
    margin-bottom:calc(var(--base));

    font-size:10px;


  }

.topb{
  position:absolute;
  left:30%;
  margin-top:-20px;

  font-size:12px;
  font-weight: 800;

  cursor:pointer;

}

.top{
  display:none;
  position:absolute;
  left:30%;
  margin-top:-20px;

  font-size:12px;
  font-weight: 400;
  opacity:70%;

  cursor:pointer;

}

.mid{
  position:absolute;
  top:9%;
  right:0%;
  margin-right:-50px;

  font-size:12px;
  opacity:70%;
  cursor:pointer;

}

.midb{
  display:none;
  position:absolute;
  top:9%;
  right:0%;
  margin-right:-50px;
  font-weight: 800;

  font-size:12px;
  opacity:100%;
  cursor:pointer;

}


.last{
  position:absolute;
  top:43%;
  right:0;
  margin-right:-50px;

  font-size:12px;
  opacity:70%;
  cursor:pointer;

}

.lastb{
  display:none;
  position:absolute;
  top:43%;
  right:0;
  margin-right:-50px;

  font-size:12px;
  opacity:100%;
  font-weight: 800;
  cursor:pointer;

}




.sort{
  display:block;

  opacity:50%;

  background-color:black;
  width:3px;
  height:10px;

  position:absolute;
  left:50%;


  }
  



.wash{
  display:block;

  transform:rotate(-45deg);
  opacity:50%;

  background-color:black;
  width:10px;
  height:3px;

  position:absolute;
  top:20%;
  right:11%;
  }

.dry{
  display:block;

  opacity:50%;

  background-color:black;
  width:10px;
  height:3px;

  position:absolute;
  top:50%;
  right:0;

}

  
.topb:hover,
.mid:hover,
.last:hover{
  opacity:100%;
  font-weight: 800;

}

.data{
  display:flex;
}



.enterblock{
  display:none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  border-radius:10px;
  min-height:10vh;
  background-color:#dcdcdc;


  font-size:12px;
}

.clothes{
  height:7vh;
  padding-left:20px;
  padding-right:0;
  padding-top:0;
  padding-bottom:0;
  opacity:50%;
  

}

.material{
  display:flex;
  flex-direction: column;

  padding:20px;
  padding-right:15px;
  padding-left:0px;
  line-height: 200%;
  align-items: flex-start;
}


input{
  border:none;
  border-bottom:1.5px solid #979797;
  background-color:#ededed00;
  width:10vw;

  font-family: "roboto slab";


}

.enter{
  height:5vh;
  padding-bottom:10px;
  padding-top:5px;
 
  position: relative;
  right:0;
  bottom:0;
  opacity:70%;
  filter: drop-shadow(1px 1px 2px #242424);
  color:#ffffff;
  
}


.enter:hover{
  opacity:90%;
}


.tip{
  display:none;
  flex-direction: row;
  align-items: center;
  height:fit-content;


  padding-top:5px;
  padding-bottom:5px;
  min-height:15vh;
  border-radius:10px;
  background-color:#6A6A6A;
  margin-top:2vh;
  margin-left:2vw;

}

.sorticon{
  height:8vh;
  padding:5px;

}

.tipcaption{
  color:white;
  font-size:12px;
  font-weight:400;
  letter-spacing: 0.3px;
  padding-left:5px;
  padding-right:10px;
  
  line-height: 110%;

  text-align: left;

}

button{
  border:none;
}

.enterbtn{
  display:flex;
  flex-direction:column;
  position:relative;
  padding-bottom:5px;
  padding-right:10px;
  align-items: center;

  font-family: "roboto slab";
  font-size:11px;
  color:#6A6A6A;
  background-color: #d9d9d900;
  cursor:pointer;
}

form{

  gap:20px;

}

#color-option-shirt,
#color-option-pants,
#color-option-coat,
#color-option-sweater{
  border:none;
  border-bottom:1.5px solid #979797;
  background-color:#ededed00;
  width:80px;
  font-family: "roboto slab";
  font-size:11px;
}



.washer{
  position: fixed;

  display:none;
  width:80vw;
  height:auto;
  
  margin-right: -40vw;
  margin-bottom:-20vw;
  right:0;
  bottom:0;

}

.dryer{
  position: fixed;

  display:none;
  width:80vw;
  height:auto;
  
  margin-right: -40vw;
  margin-bottom:-20vw;
  right:0;
  bottom:0;

}

.tag{
  display:flex;
  flex-direction: column;
  align-items: flex-end;

  margin-right:3px;
  padding:3px;

  font-size:10px;
  color: rgb(255, 255, 255);
  
}

#tag-text{
  display:flex;
  margin:3px;
  align-items: center;
  padding:3px;
  padding-left:5px;
  padding-right:5px;
  


  height:20px;
  border-radius: 5px;
  border: solid 1px rgb(255, 255, 255);

}
















@media(min-width: 560px) {
  .bucket{
    width:45vw;
    margin-right: -10vw;
    margin-bottom:-30vw;
 
  }


  .rdbutton{

    border-radius: 100%;
    width:150px;
    height:150px;
  }

  .top{
    left:30%;
    margin-top:-30px;
  
    font-size:18px;
  }
  
  .topb{
    left:30%;
    margin-top:-30px;
  
    font-size:18px;
  }



  .mid{
    margin-right:-70px;
  font-size:18px;
  
  }
  .midb{
    margin-right:-70px;
  font-size:18px;
  
  }
  
  
  .last{
    
    top:44%;
    margin-right:-70px;
    font-size:18px;
  
  }
  .lastb{
    
    top:44%;
    margin-right:-70px;
    font-size:18px;
  
  }
  
  .tip{
    
    width:10vw;

    height:fit-content;
    margin-top:0;
    margin-left:2vw;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
  }


  .sorticon{
    height:8vh;
    padding:5px;
    padding-top:20px;
    padding-bottom:20px;
  }


  input{
    width:8vw;
  }

  #color-option-shirt,
  #color-option-pants,
  #color-option-coat, #color-option-sweater{
    width:10vw;
  }


  .rdbutton{
    transform:scale(0.8);

    margin-left: calc(var(--base) * 1.);
    margin-bottom: calc(var(--base)*0.8);


  }





.sort{
  display:block;

  opacity:50%;

  background-color:black;
  width:3px;
  height:10px;

  position:absolute;
  left:50%;


  }
  



.wash{
  display:block;

  transform:rotate(-45deg);
  opacity:50%;

  background-color:black;
  width:10px;
  height:3px;

  position:absolute;
  top:20%;
  right:11%;
  }

.dry{
  display:block;

  opacity:50%;

  background-color:black;
  width:10px;
  height:3px;

  position:absolute;
  top:50%;
  right:0;

}

  
.top:hover,
.mid:hover,
.last:hover{
  opacity:100%;
  font-weight: 800;

}

section{
  display:flex;
  flex-direction: row;

  margin-left: calc(var(--base) * 2);
  margin-top: calc(var(--base) * 2);

}

.enterblock{
  display:none;
  flex-direction: column;
  align-items: center;

  border-radius:10px;
  min-height:10vh;
  background-color:#dcdcdc;


  font-size:12px;
}

.clothes{
  height:10vh;
  padding:20px;
  padding-bottom:0;
  opacity:50%;
  
}




.tip{

  flex-direction: column;

  
  width:20vw;



}

.tipcaption{
  text-align: center;
  padding-left:8px;
  padding-right:8px;


}

.washer{
  width:80vw;
  margin-right: -40vw;
  margin-bottom:-40vw;

}


.dryer{
  width:80vw;
  margin-right: -40vw;
  margin-bottom:-40vw;

}

.pants{
  margin-left: 0;
  margin-top: 0;
}

.coat{
  margin-left: 0;
  margin-top: 0;
}

.sweater{
  margin-left: 0;
  margin-top: 0;
}




.material{
  display:flex;
  flex-direction: column;

  padding:20px;
  padding-right:15px;
  
  line-height: 200%;
  align-items: flex-end;
  padding-left:20px;

}


.icon{
  width:7vw;
  padding-top:30px;
  padding-bottom:0;
}

.icon2{
  width:50px;
  padding:30px;
  padding-bottom:10px;
}

.icon3{
  width:65px;
  padding:30px;
  padding-bottom:10px;

}


.tag{
  flex-direction: row;
  justify-content: center;
  width:fit-content;
  margin-top:20px;
  flex-wrap:wrap;

}

#tag-text{
  display:flex;
  align-items: center;
  padding-left:5px;
  padding-right:5px;

  height:20px;
  border-radius: 5px;

}
}




@media(max-width: 560px) {
  .bucket{
    width:45vw;
    margin-right: -10vw;
    margin-bottom:-20vw;
 
  }

  .tip{
    margin-left:0;
  }

}



