
  .washer{
    position: fixed;

    display:block;
    width:80vw;
    height:auto;
    
    margin-right: -45vw;
    margin-bottom:-10vw;
    right:0;
    bottom:0;
 
  }



  .rdbutton{
    display:block;
    position:fixed;
    bottom:0;
    left:0;

    border-radius: 100%;
    width:100px;
    height:100px;
    background-color:#cecece;

    margin-left:calc(var(--base) * 2);
    margin-bottom:calc(var(--base));

    font-size:10px;


  }

.top{
  position:absolute;
  left:30%;
  margin-top:-20px;

  font-size:12px;
  opacity:70%;
  font-weight: 400;


}

.mid{
  position:absolute;
  top:9%;
  right:0%;
  margin-right:-50px;

  font-size:12px;
  opacity:100%;
  font-weight: 800;

}


.last{
  position:absolute;
  top:43%;
  right:0;
  margin-right:-50px;

  font-size:12px;
  opacity:70%;

}




.sort{
  display:block;

  opacity:50%;

  background-color:black;
  width:3px;
  height:10px;

  position:absolute;
  left:50%;


  }
  



.wash{
  display:block;

  transform:rotate(-45deg);
  opacity:100%;

  background-color:black;
  width:10px;
  height:3px;

  position:absolute;
  top:20%;
  right:11%;
  }

.dry{
  display:block;

  opacity:50%;

  background-color:black;
  width:10px;
  height:3px;

  position:absolute;
  top:50%;
  right:0;

}

  
.top:hover,
.mid:hover,
.last:hover{
  opacity:100%;
  font-weight: 800;

}


@media(min-width: 600px) {
    .washer{
      width:80vw;
      margin-right: -40vw;
      margin-bottom:-40vw;
   
    }

    .rdbutton{

        border-radius: 100%;
        width:150px;
        height:150px;
      }
    
      .top{
        left:30%;
        margin-top:-30px;
      
        font-size:18px;
      }
    
      .mid{
        margin-right:-70px;
      font-size:18px;
      
      }
      
      
      .last{
    
        top:44%;
        margin-right:-70px;
        font-size:18px;
      
      }

      .rdbutton{
        transform:scale(0.8);
    
        margin-left: calc(var(--base) * 1.);
        margin-bottom: calc(var(--base)*0.8);
    
    
      }
  }